.fragment header[role=banner] {
        /* Define a grid with columns for the back button and page title. */
       margin-left:50px;
       margin-top:30px;
    }

#contentHost {
    
    height:100%;
    margin: 24px 24px 24px 24px;
}

#globalNav {
    background-color:indigo;

}

