.motivation section {
	margin: auto 120px;
}

.phone .motivation .page-section {
	margin: auto 24px;
}

.phone .motivation .page-header .titlearea {
	-ms-grid-column: 1;
	margin-top: 37px;
	margin-left: 24px;
	font-size: 28pt;
	width: calc(100vw - 20px);
}

.phone .motivation .back-button {
	display: none;
}

.fragment {
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 128px 1fr;
	display: -ms-grid;
	height: 100%;
	width: 100%;
    overflow-y:scroll;
    overflow-x:hidden;

}

	.fragment section[role=main] {
		-ms-grid-row: 2;
		height: 100%;
	}

#titleone {
    font-size:170%;
    font-weight:500;
    margin-bottom:10px;
}

#prologue {
    font-size:130%;
    font-weight:100;
    margin-bottom:20px;
}

#titletwo {
    font-size:170%;
    font-weight:500;
    margin-bottom:10px;
}

#maintext {
    font-size:130%;
    font-weight:100;
    margin-bottom:20px;
}

#titlethree {
    font-size:170%;
    font-weight:500;
    margin-bottom:20px;
}

#epilogue {
    font-size:130%;
    font-weight:100;
    margin-bottom:10px;
}