.motivation section {
	margin: 1px 50px;
}

.phone .motivation .page-section {
	margin: auto 24px;
}

.phone .motivation .page-header .titlearea {
	-ms-grid-column: 1;
	margin-top: 37px;
	margin-left: 24px;
	font-size: 28pt;
	width: calc(100vw - 20px);
}

.phone .motivation .back-button {
	display: none;
}

.fragment {
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 128px 1fr;
	display: -ms-grid;
	height: 100%;
	width: 100%;
}

	.fragment section[role=main] {
		-ms-grid-row: 2;
		height: 100%;
	}

#motivationDiv {
    display:-ms-grid;
    -ms-grid-columns: auto 1fr;
    -ms-grid-rows: auto auto;
}

/*The description note*/
#motivationNoteWindows {
    -ms-grid-column:1;
    -ms-grid-row:1;
    font-weight:600;
    font-size:10pt;
    font-family:'Segoe UI';
    color:lightgray;
}

/*The list*/
#motivationListViewWindows {
    -ms-grid-column:1;
    -ms-grid-row:2;
    height:100%;
    font-weight:400;
    font-family:'Segoe UI';
    font-size:15pt;
}

/*Right place where information appears*/
#motivationHost {
    -ms-grid-column:2;
    -ms-grid-row-span:2;
    font-family:'Segoe UI';
    margin-left:20px;
}

#tit {
    font-size:20pt;
    font-weight:300;

}

#q1 {
    font-size:13pt;
    font-weight:600;
}

#a1 {
    font-size:10pt;
    font-weight:600;
}

#q2 {
    font-size:13pt;
    font-weight:600;
}

#a2 {
    font-size:10pt;
    font-weight:600;
}

#q3 {
    font-size:13pt;
    font-weight:600;
}

#a3 {
    font-size:10pt;
    font-weight:600;
}