.homepage section[role=main] {
    margin-left: 24px;
    margin-right: 24px;
}

.fragment section[role=main] {
	width: calc(100% - 48px);
    
    
}


/*Paragraphs*/
#paragraphstart {
    font-size:170%;
    font-family:'Segoe WP';
    font-weight:200;
    text-align:left;
}
.paragraph {
    font-size:170%;
    font-family:'Segoe WP';
    font-weight:200;
    text-align:left;
    margin-top:40px;
}

/*-------------------------------------------START PIVOT-----------------------------------------------*/

/*******OUTPUTS**********/

/*Days*/
#days {
    font-family:'Segoe WP';
    font-size:210%;
    font-weight:500;
    text-align:left;
}

/*Not smoked*/
#not {
    font-family:'Segoe WP';
    font-size:210%;
    font-weight:500;
    text-align:left;
    
}


/*Life saved OUTPUTS*/
.lifeOut {
    font-family:'Segoe WP';
    font-size:170%;
    font-weight:500;
    text-align:left;
}

#settingsNote {
    color:gray;
    height:auto;
    margin-top:60px;
    font-size:100%;
    margin-top:39px;
}

/*Settings BUTTON*/
#settings {
    font-size:370%;
    font-family:'Segoe WP';
    font-weight:200;
    text-decoration:none;
    color:inherit;
    margin-top:-27px;
}


/*--------------------------------------------HEALTH LIST PIVOT----------------------------------------*/
#healthList {
    height:auto;
    
    
}

.healthListDiv {
    margin-top:23px;
    
}

h3 {
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}

.healthListP {
    
    margin-top:-5px;
    margin-left:10px;
    margin-right:10px;
    font-size:medium;
}

.achieved {
    background-color:green;
    border-radius:6px;
    margin-top:23px;
}

/*----------------------------------------------MONEY PIVOT--------------------------------------------*/
#money {
    font-family:'Segoe WP';
    font-size:210%;
    font-weight:400;
    text-align:left;
}

#perMonth {
    font-family:'Segoe WP';
    font-size:210%;
    font-weight:400;
    text-align:left;
}

#inAYear {
    font-family:'Segoe WP';
    font-size:210%;
    font-weight:400;
    text-align:left;
}

.currency {
    font-size:inherit;
}

/*-----------------------------------------------MOTIVATION PIVOT---------------------------------------*/

#motivationListView {
    height:auto;
    width:inherit;
    font-size:210%;
    font-family:'Segoe WP';
    font-weight:300;
    
   

}

.motivationP {
    
    height:auto;
    border:1px dotted red;
}