.homepage section[role=main] {
    margin-left: 24px;
    margin-right: 24px;
}

.fragment section[role=main] {
	width: calc(100% - 48px);
    
    
}


/*Paragraphs*/
.paragraph {
    font-size:170%;
    font-family:'Segoe WP';
    font-weight:200;
    text-align:left;
}

/*-------------------------------------------START PIVOT-----------------------------------------------*/
/*Settings BUTTON*/
#settings {
    font-size:370%;
    font-family:'Segoe WP';
    font-weight:100;
    text-decoration:none;
    color:inherit;
}

/*******OUTPUTS**********/

/*Days*/
#days {
    font-family:'Segoe WP';
    font-size:210%;
    font-weight:200;
    text-align:left;
}

/*Not smoked*/
#not {
    font-family:'Segoe WP';
    font-size:210%;
    font-weight:200;
    text-align:left;

}


/*Life saved OUTPUTS*/
.lifeOut {
    font-family:'Segoe WP';
    font-size:170%;
    font-weight:500;
    text-align:left;
}


/*--------------------------------------------HEALTH LIST PIVOT----------------------------------------*/
/*HEATLTH LISTVIEW*/

#healthListView {
    height:auto;
    margin-bottom:24px;
    
}
#healthTemplate {
  
}
#healthListDesc {
    font-size:medium;
}

#healthListText {
    font-size:small;
}

/*----------------------------------------------MONEY PIVOT--------------------------------------------*/
#money {
    font-family:'Segoe WP';
    font-size:210%;
    font-weight:300;
    text-align:left;
}

#perMonth {
    font-family:'Segoe WP';
    font-size:210%;
    font-weight:200;
    text-align:left;
}

#inAYear {
    font-family:'Segoe WP';
    font-size:210%;
    font-weight:200;
    text-align:left;
}

.currency {
    font-size:inherit;
}

/*-----------------------------------------------MOTIVATION PIVOT---------------------------------------*/